<div class="modal fade" id="modalCliente" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Preencher Formulário </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row g-2">
                    <div class="col-md-6">
                        <input class="form-control" id="nome" placeholder="Nome" />
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" id="cpfCnpj" placeholder="CPF/CNPJ" />
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" id="fantasia" placeholder="Fantasia" />
                    </div>

                    <div class="col-md-6">
                        <input class="form-control" id="ieRg" placeholder="IE/RG" />
                    </div>
                    <div class="col-md-6">
                        <div class="position-relative">

                            <input class="form-control"
                                   id="categoriaInput"
                                   placeholder="Categoria"
                                   autocomplete="off" />

                            <input type="hidden" id="categoriaCodigo" />

                            <div id="categoriaSugestoes"
                                 class="list-group d-none">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <select class="form-select" id="regiao"></select>
                    </div>
                    <div class="col-12">
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" id="ativo" />
                            <label class="form-check-label">Ativo</label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button class="btn btn-success" onclick="salvar()">Salvar</button>
            </div>

        </div>
    </div>
</div>
